<label class="relative inline-flex items-center cursor-pointer">
  <input type="checkbox" id="themeToggle" class="sr-only peer">
  <div
    class="w-10 h-6 bg-gray-300 peer-focus:outline-none rounded-full peer dark:bg-white peer-checked:bg-[#339C00] transition-colors"
  ></div>
  <div
    class="absolute left-1 top-1 dark:bg-[#339C00] bg-white w-4 h-4 rounded-full shadow-md transition-transform peer-checked:translate-x-4"
  ></div>
</label>
