<h1>Announcement Bar</h1>

{% schema %}
{
  "name": "Announcemet",
  "settings": [],
  "enabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Announcemet Bar",
      "settings": {}
    }
  ]
}
{% endschema %}
