<h1>This is footer</h1>

{% schema %}
{
  "name": "Footer Section",
  "settings": [],
  "enabled_on": {
    "groups": ["footer"]
  },
  "presets": [
    {
      "name": "Footer Section",
      "settings": {}
    }
  ]
}
{% endschema %}
