<h1>This is header</h1>

{% schema %}
{
  "name": "Navigation Bar",
  "settings": [],
  "enabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "Navigation Bar",
      "settings": {}
    }
  ]
}
{% endschema %}
