<h1>Hero</h1>

{% schema %}
{
  "name": "Hero Section",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Hero Section",
      "settings": {}
    }
  ]
}
{% endschema %}
