<h1>Newsletter</h1>

{% schema %}
{
  "name": "Newsletter",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "presets": [
    {
      "name": "Newsletter",
      "settings": {}
    }
  ]
}
{% endschema %}
