@font-face {
  font-family: "Inter";
  src: url("./Inter24pt-Regular.woff2") format("woff2"),
    url("./Inter24pt-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BG";
  src: url("./BricolageGrotesque24pt-Medium.woff2") format("woff2"),
    url("./BricolageGrotesque24pt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body,
.font_in {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font_bg {
  font-family: "BG", sans-serif;
}
